body {
  color: orange;
}
.maintitle {
  font-size: 6rem;
}
.subtitle {
  font-size: 4rem;
}
.outer {
  display: grid;
  place-items: center;
}
.big {
  display: grid;
  place-items: center;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 115, 0);
}
.middle {
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
  background-color: rgb(230, 157, 230);
}
.small {
  width: 100px;
  height: 100px;
  background-color: pink;
}
@media (max-width: 500px) {
  body {
    color: blue;
  }
}

@media (orientation: landscape) {
  .subtitle {
    color: green;
  }
}

@media (orientation: portrait) and (max-width: 500px) {
  .subtitle {
    color: cyan;
  }
}
